@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 769px) {
  .image-onLocation {
    background-image: url("/src/images/location.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .image-cloudy {
    background-image: url("/src/images/cloudy.jpg");
    background-size: cover;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .image-rainy {
    background-image: url("/src/images/rain.jpg");
    background-size: cover;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .image-clear {
    background-image: url("/src/images/clear.jpg");
    background-size: cover;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
}

@media screen and (max-width: 768px) {
  .image-onLocation {
    background-image: url("/src/images/location.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    /* height: auto; */
  }
  .image-cloudy {
    background-image: url("/src/images/cloudy.jpg");
    background-size: cover;
    /* height: auto; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }

  .image-rainy {
    background-image: url("/src/images/rain.jpg");
    background-size: cover;
    /* height: auto; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }
  .image-rainy {
    background-image: url("/src/images/clear.jpg");
    background-size: cover;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
  }
}
